body {
  background-color: #feebed;
  margin: 0px;
}

#title {
  margin-bottom: 50px;
  width: 100%;
  height: 25%;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 100px;
  font-weight: 300;
  color: #12385c;
  text-align: center;
  letter-spacing: 0.11em;
}

#tv-container {
  position: relative;
  background-color: white;
  width: 1000px;
  height: 700px;
  margin-bottom: 150px;
  border-radius: 50px;
}

.container {
  display: flex;
  justify-content: center;
}

.nav-bar {
  margin-top: 42px;
}

table {
    border-collapse: collapse;
}

tr:hover {
  background-color: #f5f5f5;
}

#tv-container th, td  {
  border-bottom: 4px solid #feebed;
}

#tv-container td {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #12385c;
  font-size: 16px;
  letter-spacing: 0.05em;
  padding: 20px;
  padding-left: 30px;

}

.footer-text {
  background-color: white;

  display: block;
  text-align: center;
  width: 100%;

  color: #12385c;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  letter-spacing: 0.08em;

  padding-top: 15px;
  padding-bottom: 15px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #feebed;
}

.hide {
  display: none;
}

.online-tab {
  background-color: white;
  padding: 3px;
  display: flex;
  width: 100px;
  border-radius: 0px 50px 50px 0px;
  margin-bottom: 10px;
  margin-left: -65px;
}

.online-tab:hover {
  background-color: #f5f5f5;
  margin-left: 0px;
  transition: 1.2s;
}

.show-online {
  color: #12385c;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 0.08em;
  padding-right: 10px;
  padding-left: 10px;
}

.show-online:hover {
  cursor: pointer;
}

.online-circle {
    background: #28ca41;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-top: 4px;
}

.offline-tab {
  background-color: white;
  padding: 3px;
  display: flex;
  width: 100px;
  border-radius: 0px 50px 50px 0px;
  margin-bottom: 10px;
  margin-left: -65px;
}

.offline-tab:hover {
  background-color: #f5f5f5;
  margin-left: 0px;
  transition: 1.2s;
}

.show-offline {
  color: #12385c;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 0.08em;
  padding-right: 10px;
  padding-left: 10px;
}

.show-offline:hover {
  cursor: pointer;
}

.offline-circle {
    background: #ff6058;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: -3px;
}

.all-tab {
  background-color: white;
  padding: 3px;
  display: flex;
  width: 100px;
  border-radius: 0px 50px 50px 0px;
  margin-bottom: 9px;
  margin-left: -10px;
}

.all-tab:hover {
  background-color: #f5f5f5;
}

.all {
  color: #12385c;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 0.08em;
  padding-right: 10px;
  padding-left: 20px;
}

.all:hover {
  cursor: pointer;
}
